<div class="row">
    <div class="col-md-6 map_box">
      <%= static_map_for(@checkin) %>
    </div>

  <div class="col-md-6">
      <h2><%= @checkin.name %></h2>
      <p><%= @checkin.address %></p>
      <p><%= @checkin.description %></p>

      <%= link_to "Edit", edit_checkin_path(@checkin), class: "btn btn-primary" %>
      <%= link_to "Back", checkins_path, class: "btn btn-primary" %>
  </div>
</div>
