<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%if !root_path%>
    <%= link_to "Cowork Fargo", root_path, id: "logo" %>
    <%end%>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Coworkers to Follow", '#'%></li>
        <li><%= link_to "Scheduled Coworkers", '#'%></li>
        <li><%= link_to "Live Coworkers", '#'%></li>
        <li><%= link_to "Log In", '#'%></li>
      </ul>
    </nav>
  </div>
</header>
