<!DOCTYPE html>
<html>
  <head>
    <title><%=full_title(yield(:title))%></title>
    <%= csrf_meta_tags %>

    <%= render 'layouts/defaults' %>

    <%= render 'layouts/shim' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <%= render 'layouts/messages' %>
      <% if current_page?(root_path)%>
        <%= yield %>
      <% else %>
      <div class="container-static">
        <%= yield %>
      </div>
      <% end %>
      <%= render 'layouts/footer' %>
    </div>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?key=AIzaSyDZhxMwZ3CNfILJ4sX3Ou__dk0cdfiMBto" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/markerclusterer/src/markerclusterer_compiled.js" %>
    <%= javascript_include_tag "https://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js" %>

    <%= javascript_include_tag "application" %>

    <%= yield(:after_js) %>
  </body>

</html>
